﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="homepage-slider">
    <div id="sequence">
        <ul class="sequence-canvas">
            <!-- Slide 1 -->
            <li class="bg4">
                <!-- Slide Title -->
                <h2 class="title">Responsive</h2>
                <!-- Slide Text -->
                <h3 class="subtitle">It looks great on desktops, laptops, tablets and smartphones</h3>
                <!-- Slide Image -->
                <img class="slide-img" src="~/img/4.jpg" alt="Slide 1" />
            </li>
            <!-- End Slide 1 -->
            <!-- Slide 2 -->
            <li class="bg3">
                <!-- Slide Title -->
                <h2 class="title">Color Schemes</h2>
                <!-- Slide Text -->
                <h3 class="subtitle">Comes with 5 color schemes and it's easy to make your own!</h3>
                <!-- Slide Image -->
                <img class="slide-img" src="~/img/5.jpg" alt="Slide 2" />
            </li>
            <!-- End Slide 2 -->
            <!-- Slide 3 -->
            <li class="bg1">
                <!-- Slide Title -->
                <h2 class="title">Feature Rich</h2>
                <!-- Slide Text -->
                <h3 class="subtitle">Huge amount of components and over 30 sample pages!</h3>
                <!-- Slide Image -->
                <img class="slide-img" src="~/img/6.jpg" alt="Slide 3" />
            </li>
            <!-- End Slide 3 -->
        </ul>
        <div class="sequence-pagination-wrapper">
            <ul class="sequence-pagination">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Homepage Slider -->

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img src="~/img/h.araba.jpg" alt="">

                @*<div class="basic-login">
                    <form role="form" role="form">
                        <div class="form-group">
                            <label for="login-username"><i class="icon-user"></i> <b>Kullanıcı Adı ya da e mail</b></label>
                            <input class="form-control" id="login-username" type="text" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="login-password"><i class="icon-lock"></i> <b>Şifre</b></label>
                            <input class="form-control" id="login-password" type="password" placeholder="">
                        </div>
                        <div class="form-group">
                            <label class="checkbox">
                                <input type="checkbox"> Beni Hatırla
                            </label>
                            <a href="page-password-reset.html" class="forgot-password">Parolanızı mı unuttunuz?</a>
                            <button type="submit" class="btn pull-right">Giriş</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>*@
            </div>
            <div class="col-sm-7 social-login">
                <p>
                    1996 yılından beri hizmet vermekte olan Yılmaz Oto Galeri , bu yıla kadar halkımıza güvenilir ve dürüst hizmet vererek ve bu güveni kendine ilke edinerek bu yolda emin adımlarla ilerlemektedir.
                    Yılmaz Oto Galeri & Emlak, Çamlıoğlu Otomotiv Emlak İnşaat Ltd. Şti. kuruluşudur. Bizden 12 aya kadar taksitli satış yapılır.
                    Referansımız, 12 yıllık ticari hayatımız, 3.300'ü aşkın müşterimiz ve istanbul halkıdır...
                </p>

                                
                
                <div class="clearfix"></div>
                <!-- <div class="not-member">
                     <p>Not a member? <a href="page-register.html">Register here</a></p>
                 </div>-->
            </div>


        </div>
    </div>
</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="Scripts/jquery-1.9.1.min.js"><\/script>')</script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
<script src="~/Scripts/jquery.fitvids.js"></script>
<script src="~/Scripts/jquery.sequence-min.js"></script>
<script src="~/Scripts/jquery.bxslider.js"></script>
<script src="~/Scripts/main-menu.js"></script>
<script src="~/Scripts/template.js"></script>
